.card {
    width: var(--card-w);
    height: var(--card-h);
    border: 1px solid var(--card-border);
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px;
    font-family: 'Pt Sans Caption', sans-serif;
    box-sizing: border-box;
    margin: 10px auto;
    background-color: var(--bg-color);
}

.card-img {
    width: 260px;
    height: 214px;
    align-self: center;
}

.card-title {
    font-size: 42px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.card ul {
    list-style: none;
}

.card li::before {
    content: "➡";
    color: transparent;  
    text-shadow: 0 0 0 var(--text-decoration);
    font-size: 18px;
    margin-right: 10px;
}