.container {
    --ml: 10px;
    padding: 0 var(--pd-left-right);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #e9e5e5;*/
    background-color: var(--footer-bg-color);
    font-family: Ubuntu, 'sans-serif';
    font-size: 20px;
    color: var(--text-decoration);
}

.logo {
    width: 100px;
    height: 100px;
}

.mg-l {
    margin-left: var(--ml);
}

.color-w {
    color: var(--text-white);
}

header a:link {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

header a:hover {
    color: var(--text-decoration);
}

header a:visited {
    color: inherit;
}